Django==2.2.7 # Upgrade when the issue with djangorestframework-datatables is solved
djangorestframework>=3.10.3
djangorestframework-datatables>=0.5.0
channels~=2.0,>=2.0.2
channels_redis~=2.0
asgiref>=3.2.3